In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
df=pd.read_csv('DataForNLP.csv')

In [17]:
print(df)

      Q3  Q4     Q5  Q6  Q7 Q8  \
0    4.0   2  1,6,7   1   8  3
1    4.0   4      6   1   7  3
2    3.0   4      3   3   8  3
3    3.0   4      6   1   7  3
4    3.0   4      5   1   4  3
..   ...  ..    ...  ..  .. ..
360  3.0   4    NaN   2   7  1
361  4.0   4      6   5   3  3
362  3.0   4      3   1   8  3
363  4.0   2    NaN   3   4  3
364  3.0   4    1,6   1   5  3

                                                   Q37
0    Keep the videos short, keep extra example outs...
1    It was very time consuming.\nI believe it is t...
2    Horrible experience. I am seriously considerin...
3    1 needed new equipment paid for  by me\nhad to...
4    I was familiar with Zoom from video conferenci...
..                                                 ...
360  I coordinate the engineering physics sequence....
361  I only had 8 sessions left when we went online...
362  Since I had about 250 students, with a sizable...
363  The challenges were with online labs and cheat...
364  If teaching online again, I'd prefer that stud...

[365 rows x 7 columns]

In [18]:
response=df['Q37'].tolist()

In [19]:
print(len(response))

365

In [20]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sentiment=SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/colingreen1/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [21]:
sentiment.polarity_scores(response[1])

{'neg': 0.0, 'neu': 0.888, 'pos': 0.112, 'compound': 0.4404}

In [25]:
df['Sentiment']=df['Q37'].apply(lambda Q37: sentiment.polarity_scores(Q37))

In [26]:
df.head()

,Q3,Q4,Q5,Q6,Q7,Q8,Q37,Sentiment Scores,Sentiment
0,4.0,2,"1,6,7",1,8,3,"Keep the videos short, keep extra example outs...","{'neg': 0.077, 'neu': 0.856, 'pos': 0.066, 'co...","{'neg': 0.077, 'neu': 0.856, 'pos': 0.066, 'co..."
1,4.0,4,6,1,7,3,It was very time consuming.\nI believe it is t...,"{'neg': 0.0, 'neu': 0.888, 'pos': 0.112, 'comp...","{'neg': 0.0, 'neu': 0.888, 'pos': 0.112, 'comp..."
2,3.0,4,3,3,8,3,Horrible experience. I am seriously considerin...,"{'neg': 0.51, 'neu': 0.49, 'pos': 0.0, 'compou...","{'neg': 0.51, 'neu': 0.49, 'pos': 0.0, 'compou..."
3,3.0,4,6,1,7,3,1 needed new equipment paid for by me\nhad to...,"{'neg': 0.094, 'neu': 0.906, 'pos': 0.0, 'comp...","{'neg': 0.094, 'neu': 0.906, 'pos': 0.0, 'comp..."
4,3.0,4,5,1,4,3,I was familiar with Zoom from video conferenci...,"{'neg': 0.065, 'neu': 0.848, 'pos': 0.087, 'co...","{'neg': 0.065, 'neu': 0.848, 'pos': 0.087, 'co..."

In [28]:
df['Compound']=df['Sentiment'].apply[lambda Sentiment_dict: Sentiment_dict['compound']]
df.head()

TypeError: 'method' object is not subscriptable